

<% content_for :title do %>RDO Pike<% end %>
<div class="gridster">
  <ul>

    <!-- RDO Pike: combined list of promoted hashes-->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="promolist_pike_all" data-view="List" data-unordered="true"
           data-title="Recent Promotions: Pike"
           data-moreinfo="upstream, rdophase1, rdophse2">
      </div>
    </li>

    <!-- most recently promoted hashes for each phase of promotion pipeline -->
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_pike_ooo" data-view="Promotext" data-title="current-tripleo (Tripleo Upstream)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_pike_rdo1" data-view="Promotext" data-title="current-tripleo-rdo (RDO Phase 1)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="promotext_pike_rdo2" data-view="Promotext" data-title="current-tripleo-rdo-internal (RDO Phase 2)"
           data-hash_id="hash goes here" data-delorean_url="date and full URL" data-promote_ts="a timestamp"></div>
    </li>
  </ul>

  <center><div style="font-size: 12px"><a target=“_blank" href="https://github.com/halcyondude/delorean-metrics/tree/master/dlrnapi-dashboard">dashboard source + FAQ</a></div></center>
</div>
