

<% content_for :title do %>RDO Pike<% end %>
<div class="gridster">
  <ul>

    <!-- most recently promoted hashes for each phase of promotion pipeline -->
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="promo_pike_ooo" data-view="Text" data-title="tripleo upstream"
           data-text="hash goes here"
           data-moreinfo="date and full URL"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="promo_pike_rdo1" data-view="Text" data-title="RDO Phase 1"
           data-text="hash goes here"
           data-moreinfo="date and full URL"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="promo_pike_rdo2" data-view="Text" data-title="RDO Phase 2"
           data-text="hash goes here"
           data-moreinfo="date and full URL"></div>
    </li>

    <!-- row 2: RDO Pike: combined list of promoted hashes-->
    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="promo_combined" data-view="List" data-unordered="true"
           data-title="Promotions: combined"
           data-moreinfo="upstream, rdophase1, rdophse2">
      </div>
    </li>


    <!-- row 3: debug schtuff
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="buzzwords" data-view="List" data-unordered="true"
           data-title="Buzzwords" data-moreinfo="# of times said around the office"></div>
    </li>
    -->

  </ul>


  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
